body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow: auto;
}

.gridcontainer {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.hero-image {
  grid-column: span 12;
  background-image: url("img/tofu.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 75%;
}

.hero-text h1 {
  position: relative;
  top: 5em;
  left: 0vw;
  max-width: 12em;
  max-height: 25%;
  background: rgb(64,27,5);
  background: rgba(64,27,5,0.8);
  padding-left:4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.2vw;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  color: #ECE7DE;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.6vw;
  color: #BE8A46;
  margin-top: 2em;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.05em;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.05em;
  padding-top: 1.2vh;
  text-align: center;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4vw;
  letter-spacing: 0.05em;
  line-height: 1.8em;
}

.Whatis {
  grid-column: span 12;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 0vh;
  margin-right: 12%;
  margin-left: 12%;
}

.Materials {
  grid-column: span 12;
  padding-top: 0.5vh;
}

.boxes {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
 }

.box1 {
  width: 30%;
  text-align: right;
  margin-right: 3vw;
}

.box2 {
  width: 30%;
  text-align:left;
  margin-left: 3vw;
}

.vertical-line {
  border-right: 1px solid rgb(64,27,5);
  height: 16vw;
}

.Instruction {
  grid-column: span 12;
  margin-right: 12%;
  margin-left: 12%;
  padding-top: 0.5vh;
}

.step1, .step2, .step3, .step4, .step4-2, .step5, .step6, .step6-2, .step6-3, .step7, .step7-2{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.image1, .image3, .image4-2, .image6, .image6-3, .image7-2 {
  width: 50%;
  margin-right: 0vw;
  flex-shrink: 0;
  padding-top: 0.8vw;
}

.p1, .p3, .p4-2, .p6, .p6-3, .p7-2 {
  width: 50%;
  padding-left: 3vw;
  margin: auto;
}

hr {
  margin-top: 3vw;
  border-top: 0.5px solid#ECE7DE 
   
}

.image2, .image4, .image5, .image6-2, .image7 {
  width: 50%;
  margin-left: 0vw;
  flex-shrink: 0;
  padding-top: 0.8vw;
}

.p2, .p4, .p5, .p6-2, .p7 {
  width: 50%;
  text-align: right;
  padding-right: 3vw;
  margin: auto;
}

.Reference {
  grid-column: span 12;
  text-align: center;
  padding-top: 3vw;
  margin-bottom: 12vw;
}

a:hover {
  color: rgb(64,27,5,0.8);
}

a {
  color: black;
}

  
@media (min-width:1024px){
  .hero-image{
    height: 100vh;
  }
}

@media (max-width:1023px) {
html {
  font-size: 1vw;
  }
  .hero-image {
    height: 40vh;
  }

  .step1, .step2, .step3, .step4, .step4-2, .step5, .step6, .step6-2, .step6-3, .step7, .step7-2
  {
    flex-direction: column;
    text-align: center;
  }

  p, .p1>p, .p2>p, .p3>p, .p4>p, .p4-2>p .p5>p, .p6>p, .p6-2>p, .p6-3>p, .p7>p, .p7-2>p,
  .p1, .p2, .p3, .p4, .p4-2, .p5, .p6, .p6-2, .p6-3, .p7, .p7-2
  {
    width: 100%;
    padding:0;
    text-align: center;
  }

  .image1, .image2, .image3, .image4, .image4-2, .image5, .image6, .image6-2, .image6-3, .image7, .image7-2
  {
    margin: auto;
    width: 75%;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box1 {
    text-align: center;
    margin: 0;
   }
  .box2 {
    text-align: center;
    margin: 0;
  }
  .vertical-line{
    display:none;
  }

}

